.loader-img{position: relative;}
.loader-img div{position: absolute;-webkit-animation: loader-img 0.7s linear infinite;animation: loader-img 0.7s linear infinite;width: 160px;height: 160px;top: 20px;left: 20px;border-radius: 50%;box-shadow: 0 8px 0 0 #93dbe9;box-shadow: 0 8px 0 0 #000;-webkit-transform-origin: 80px 84px;transform-origin: 80px 84px;}
.loader-img {width: 150px !important;height: 150px !important;-webkit-transform: translate(-75px, -75px) scale(0.75) translate(75px, 75px);transform: translate(-75px, -75px) scale(0.75) translate(75px, 75px);}
#loading{display:block;top:0;left:0;width:100%;height:100%;z-index:9999;position:fixed;}
#loading .tb-tb, #loading .tb-tr, #loading .tb-td{width:100%;height:100%;text-align:center;vertical-align:middle;}
#Wrap{min-height:100%;}
#Wrap_container{display:none;}
body *{text-align:center;background:none;margin:0 auto;}
img{display:block;max-width:100%;}
#Wrap_inner{position:relative;display:inline-block;*display:inline;*zoom:1;max-width:800px;}
.tb-tb{display:table;table-layout:fixed;empty-cells: show;}.tb-tr{display:table-row;table-layout:fixed;}.tb-td{display:table-cell;table-layout:fixed;}
.bg{position:relative;font-size:0;}
.in{position:relative;display:inline-block;*display:inline;*zoom:1;}
.outer_form_wrap, .inner_form_wrap{margin:0;text-align:center;font-size:0;}
.inner_form_wrap{position:relative;display:inline-block;*display:inline;*zoom:1;}
.w-bg_form .bg{position:relative;top:0;left:0;right:0;z-index:1;width:100%;height:auto;background:none !important;;}
.w-bg_form .form{position:absolute;top:0;left:0;right:0;z-index:2;width:100%;height:100%;}
.w-input{position:absolute;}
.w-input input, .w-input select{width:100%;height:100%;padding:0;min-width:0;text-align:left;background:transparent;}
.w-input .w-input-phone{top:0;left:0;width:100%;height:100%;background:transparent;}
.w-input-contact .w-input{width:27%;}
.w-input-phone1{left:0 !important;}
.w-input-phone2{left:37% !important;}
.w-input-phone3{left:73% !important;}
.form-agree-group{position:absolute;width:100%;top:auto;left:0;}
.form-agree-group label{display:block;height:100%;font-size:0;text-align:left;}
.form-agree-group label input{background:transparent;width:10%;height:100%;border:0;margin:0;}
.form-agree-group a.btn_view_agreelaw{position:absolute;top:0;left:auto;display:inline-block;*display:inline;*zoom:1;height:100%;cursor: pointer;opacity:0;overflow:hidden;}
.submit-button{position:absolute;cursor:pointer;}
.submit-button input{width:100%;height:100%;padding:0;font-size:0;border-radius:0;border:0;outline:0;box-shadow:none;background:transparent;cursor:pointer;}
.w-input input, .w-input select{font-size:3vh;}
@media (max-width: 600px) {
  .w-input input, .w-input select {font-size:3vw;}
}
/*자세히보기 토글 폼*/
.form_user_data{position:relative;}
.form_user_data .w-input{position:absolute;}
.form_user_data .form-agree-group{z-index:2;}

.f-btns{position:absolute;width:100%;top:auto;top:40%;}
.f-btns ul{margin:0 auto;font-size:0;letter-spacing:0;text-align:center;padding:0 3%;}
.f-btns li{display:inline-block;*display:inline;*zoom:1;width:50%;overflow:hidden;position:relative;cursor:pointer;}
.f-btns li .pw{position:relative;margin:0 4px;margin-bottom:4px;overflow:hidden;}
.f-btns li .pw font{position:absolute;top:3%;left:3%;font-size:3vh;font-weight:bold;line-height:3.5vh;letter-spacing:-0.5vh;white-space:pre-line;text-align:left;z-index:10;}
.f-btns li img{display:block;}
.f-btns li .hover{display:none;position:absolute;top:0;left:0;z-index:2;width:100%;height:100%;background:#000;opacity:0.5;}
.f-btns li .hover img{display:block !important;}
.f-btns li:hover .hover, .f-btns li.hover .hover, .f-btns li.choosed .hover{display:block;}
@keyframes loader-img {
0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
50% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@-webkit-keyframes loader-img {
0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
50% {-webkit-transform: rotate(180deg);transform: rotate(180deg);}
100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}